---
import { getCollection, render } from "astro:content";

import { github } from "@scripts/consts";
import words from "@scripts/words";

import BaseLayout from "@layouts/BaseLayout.astro";
import Tag from "@components/Tag.astro";
import Date from "@components/Date.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;

const { title, description, date, tags } = post.data;
const { Content } = await render(post);

const ISODate = date.toISOString().slice(0, 10);
---

<BaseLayout {title} {description}>
  <Fragment slot="og">
    <meta property="og:type" content="article" />
    <meta property="article:author" content={github} />
    <meta property="article:published_time" content={ISODate} />
    {tags.map((tag) => <meta property="article:tag" content={tag} />)}
  </Fragment>
  <article>
    <header class="post-info">
      <h1>{title}</h1>
      <p>
        • <Date {date} />
        • <span>
          {
            tags.map((tag) => (
              <>
                <Tag tag={tag} />
              </>
            ))
          }
        </span>
        • <span>{words(post.body ?? "")} words</span>
      </p>
    </header>
    <Content />
  </article>
</BaseLayout>
