---
import { getCollection } from "astro:content";
import { blogname } from "@scripts/consts";
import BaseLayout from "@layouts/BaseLayout.astro";
import Post from "@components/Post.astro";

export async function getStaticPaths() {
  const posts = (await getCollection("posts")).sort(
    (a, b) => b.data.date.getTime() - a.data.date.getTime()
  );
  const tags = Array.from(new Set(posts.flatMap((post) => post.data.tags)));

  return tags.map((tag) => ({
    params: { tag },
    props: { posts: posts.filter((post) => post.data.tags.includes(tag)) },
  }));
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout
  title=`Tag:${tag}`
  description=`Posts tagged with #${tag} on ${blogname}.`
>
  <h1>Tag:{tag}</h1>
  {posts.map((post) => <Post post={post} />)}
</BaseLayout>
