---
import { author } from "@scripts/consts";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>{title}</title>
<meta name="description" content={description} />
<meta name="author" content={author} />
<link rel="canonical" href={Astro.url} />

<meta property="og:site_name" content={author} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={Astro.url} />
<meta property="og:image" content={new URL("favicon-512.png", Astro.site)} />
<meta property="og:image:alt" content="Green leaf on a white background" />
<slot name="og" />

<link rel="icon" href="/favicon.ico" sizes="32x32" />
<link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />

<link rel="manifest" href="/app.webmanifest" />

<link rel="sitemap" href="/sitemap-index.xml" />

<link
  rel="alternate"
  href={new URL("feed.xml", Astro.site)}
  type="application/rss+xml"
  title="RSS"
/>

<meta name="generator" content={Astro.generator} />
