---
import type { Metadata } from "@/lib/types";
import { person, site, themes } from "@/consts";
import JsonLD from "@/components/JsonLD.astro";

interface Props extends Metadata {}

const {
  title,
  description,
  image = "/favicon-512.png",
  og = { "og:type": "website" },
  schemas = [],
} = Astro.props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>{title} - {site.name}</title>
<meta name="description" content={description} />
<meta name="author" content={person.fullname} />
<link rel="canonical" href={Astro.url} />

<link rel="icon" href="/favicon.ico" />
<link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />

<meta name="color-scheme" content="light dark" />
<meta
  name="theme-color"
  content={themes.light.bgPrimary}
  media="(prefers-color-scheme: light)"
/>
<meta
  name="theme-color"
  content={themes.dark.bgPrimary}
  media="(prefers-color-scheme: dark)"
/>

<link rel="manifest" href="/manifest.json" />
<link rel="sitemap" href="/sitemap-index.xml" />
<link
  rel="alternate"
  href={new URL("/feed.xml", Astro.url.origin)}
  type="application/rss+xml"
  title="RSS"
/>

<meta name="generator" content={Astro.generator} />

<meta property="og:site_name" content={site.name} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={Astro.url} />
<meta property="og:image" content={new URL(image, Astro.url.origin)} />
<meta property="og:type" content={og["og:type"]} />
{
  Object.entries(og)
    .filter(([key, value]) => key !== "og:type" && typeof value !== "undefined")
    .flatMap(([key, value]) =>
      Array.isArray(value) ? (
        value.map((item) => <meta property={key} content={item} />)
      ) : (
        <meta property={key} content={value} />
      ),
    )
}

{schemas.map((schema) => <JsonLD schema={schema} />)}
