---
import type { CollectionEntry } from "astro:content";

import Tag from "@components/Tag.astro";
import Date from "@components/Date.astro";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;

const { title, description, date, tags } = post.data;
---

<article>
  <header>
    <h2>
      <a href={encodeURI(`/posts/${post.id}/`)}>
        {title}
      </a>
    </h2>
    <p>{description}</p>
    <Date date={date} />
    <ul>
      {
        tags.map((tag) => (
          <li>
            <Tag tag={tag} />
          </li>
        ))
      }
    </ul>
  </header>
</article>
