---
import type { CollectionEntry } from "astro:content";

import Tag from "@components/Tag.astro";
import Date from "@components/Date.astro";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;

const { title, description, date, tags } = post.data;
---

<article class="post-info">
  <h2>
    <a href={encodeURI(`/posts/${post.id}/`)}>
      {title}
    </a>
  </h2>
  <p>{description}</p>
  <p>
    <span><Date date={date} /></span>
    <span>{tags.map((tag) => <Tag tag={tag} />)}</span>
  </p>
</article>
